<div class="container border p-5">
  <div class="row mb-2">
    <!-- @Output() searchedText: belongs to 'app-search-input' -->
    <app-search-input
      (searchedText)="getSearchedText($event)"
    ></app-search-input>
  </div>
  <div class="row">
    <div *ngIf="showNames; else noNames" class="w-100">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let name of filteredList; let i = index"
          [ngClass]="{
            'list-group-item-primary': i % 2 === 0,
            'list-group-item-info': i % 2 !== 0
          }"
        >
          <span (click)="deleteName(i)"> {{ name }}</span>
        </li>
      </ul>
    </div>
  </div>
  <ng-template #noNames>
    <div class="bg-danger w-100 p-2 text-white rounded">No names to show</div>
  </ng-template>
  <div class="row mt-3">
    <form>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="name"
          name="name-input"
          placeholder="Enter name"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="addName(name)">
          Add Name
        </button>
        <div class="text-danger">{{ message }}</div>
      </div>
    </form>
  </div>
</div>
