<app-header [filteredList]="filteredList"></app-header>

<div class="container border pl-5 pr-5 p-4 rounded">
  <div class="row mb-2">
    <!-- @Output() searchedText: belongs to 'app-search-input' -->
    <div class="w-100">
      <app-search-input
        (searchedText)="getSearchedText($event)"
      ></app-search-input>
    </div>
  </div>
  <div class="row">
    <div *ngIf="showNames; else noNames" class="w-100">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let name of filteredList; let i = index"
          [ngClass]="{
            'list-group-item-primary': i % 2 === 0,
            'list-group-item-info': i % 2 !== 0
          }"
        >
          {{ name }}
          <div class="float-right deleteIcon" (click)="deleteName(i)">
            <svg
              class="bi bi-trash-fill"
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M2.5 1a1 1 0 00-1 1v1a1 1 0 001 1H3v9a2 2 0 002 2h6a2 2 0 002-2V4h.5a1 1 0 001-1V2a1 1 0 00-1-1H10a1 1 0 00-1-1H7a1 1 0 00-1 1H2.5zm3 4a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7a.5.5 0 01.5-.5zM8 5a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7A.5.5 0 018 5zm3 .5a.5.5 0 00-1 0v7a.5.5 0 001 0v-7z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <ng-template #noNames>
    <div class="bg-danger w-100 p-2 text-white rounded">No names to show</div>
  </ng-template>
  <div class="row mt-3">
    <div class="w-100">
      <form>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="name"
            name="name-input"
            placeholder="Enter name"
          />

          <div class="input-group-append">
            <input
              type="submit"
              value="Add Name"
              class="btn btn-primary"
              (click)="addName(name)"
            />
          </div>
        </div>
        <div class="text-danger">{{ message }}</div>
      </form>
    </div>
  </div>
</div>
